{% extends "base.html" %}
{% block content %}
<div class="row">
    {% include 'dashboard/sidebar.html' %}
    <div class="col-md-9">
        <h1>All Posts</h1>
        <a href="{% url 'add_category' %}" class="btn btn-dark text-light float-right mb-2">Add New</a>
        <table class="table table-hover">
         <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Author</th>
                <th scope="col">Status</th>
                <th scope="col">Featured</th>
                <th scope="col">Action</th>
            </tr>
            <tbody>
                {% for cat in categories %}
                <tr>
                <td>{{forloop.couner}}</td>
                <td>{{post.title}}</td>
                <td>{{post.category}}</td>
                <td>{{post.author}}</td>
                <td>{{post.status}}</td>
                <td>{{post.is_featured}}</td>
                <td>
                    <a href="{% url 'edit_post' post.id %}"><i class="fa fa-edit text-success"></i></a>
                    &nbsp;
                    <a href="{% url 'delete_post' post.id  %}"><i class="fa fa-trash text-danger"></i></a>
                </td>
                </tr>
                {% endfor %}
            </tbody>
         </thead>
        </table>
    </div>
</div>      
{% endblock  %}